@use "../01_utilities/index" as *;
@use "sass:list";

:root {
    @for $i from 1 through list.length(utilidades.$font-weights) {
        $valor: list.nth(utilidades.$font-weights, $i);
        --bh-fw-#{$i}: #{$valor};
    }

    @for $i from 1 through list.length(utilidades.$font-weight-lista) {
        $font-size: list.nth(utilidades.$font-weight-lista, $i);

        .bh--fw-#{$i } {
            font-size: var(--bh-fw-#{$i});
        }
    }
}