<div class="form-wrapper">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmitLogin()" #f="ngForm">
    <div class="form-group">
      <input name="email" type="email" required [(ngModel)]="login.email" placeholder="Email" />
    </div>
    <div class="form-group">
      <input
        name="contrasenya"
        type="password"
        required
        [(ngModel)]="login.contrasenya"
        placeholder="Contraseña"
      />
    </div>
    <button class="btn btn-primary" [disabled]="!f.form.valid">Entrar</button>
  </form>
</div>
